body {
  background: linear-gradient(135deg, #5f4bb6, #6a5acd);
  font-family: Arial, sans-serif;
}

.hero-section {
  padding: 80px 0;
}

.hero-img {
  max-width: 80%;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.navbar .nav-link {
  color: #010000;
}

.navbar .nav-link:hover {
  color: #eae8e8;
}

.center-img{ 
    display: block;
    margin: auto;
}

.hero{ 
    background-color: white;
} 

.blog-card{
            background:#fff;
            border-radius:16px;
            overflow:hidden;
            box-shadow:0 10px 30px rgba(0,0,0,0.08);
        }
        .blog-card img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
        .badge-custom{
            font-size:12px;
            color:#7a5cff;
            font-weight:600;
        }
        .read-btn{
            border:1px solid #7a5cff;
            color:#7a5cff;
            border-radius:20px;
            padding:6px 20px;
            background:transparent;
        }
        .read-btn:hover{
            background:#7a5cff;
            color:white;
        }
   .view-all{
   background:#7a5cff;
   color:white;
  } 
 .view-all {
   border-radius:20px;
   padding:8px 22px;
   text-decoration:none; 
    background:white ;

   } 

   .card{ 
    display:flex;
    gap: 20px;
   }

